<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - Home</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <button class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <nav>
        <div class="nav-links">
            <a href="/">Home</a>
                <a href="about_me">About</a>
                <a href="/projects">Projects</a>
                <a href="/Work_Experience">Work Experience</a>
                <a href="/contact">Contact</a>
        </div>
    </nav>

    <main class="container">
        <section class="hero">
            <div class="hero-content">
                <h1>Welcome to My Portfolio</h1>
                <p style="font-size: 23px;">Hi, I’m R Srinivas Prabhu, a passionate Data Science and Engineering student from Manipal Institute of Technology, with a GPA of 9.19. I specialize in leveraging cutting-edge technologies to solve real-world problems through data-driven insights. My experience spans data analysis, machine learning, and web application development, with a strong focus on delivering impactful solutions.

                    I’ve had the privilege of working on exciting projects such as VTune, a Flask-based web application for hummed tune recognition using ACRCloud's API, and a demand forecasting model for the US and Canadian markets during my internship at Kenvue. Additionally, I’ve contributed to research projects, including SMOTE implementation for traffic crash classification, and tackled challenges like fake news detection using advanced machine learning models.
                    
                    With a versatile skill set that includes Python, Java, SQL, HTML, CSS, and TensorFlow, I’m always eager to learn and adapt to new challenges. My collaborative nature, organizational abilities, and technical expertise position me to thrive in dynamic environments.
                    
                    I look forward to bringing my skills and enthusiasm to impactful opportunities that drive innovation and value.</p>
            </div>
        </section>
    </main>
</body>
</html>