<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - Projects</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <nav>
        <div class="nav-links">
            <a href="/">Home</a>
                <a href="about_me">About</a>
                <a href="/projects">Projects</a>
                <a href="/Work_Experience">Work Experience</a>
                <a href="/contact">Contact</a>
        </div>
    </nav>

    <main class="container">
        <h1>My Projects</h1>
        <div class="grid">
            <a href="https://github.com/SieGe0701/Hit-and-Run-Classification" class="project-card-link" target="_blank">
                <div class="project-card">
                    <h2>SMOTE implementation</h2>
                    <p>Research Project that compares the performance of Ensemble
                        model when SMOTE is used. Used Traffic crashes dataset from
                        Chicago data Portal to classify whether the crash involved Hit
                        and run or note.
                        Paper was presented in Microsoft CMT conference.</p>
                    </div>
            </a>
            <a href="https://github.com/SieGe0701/Fake-news-Prediction" class="project-card-link" target="_blank">
            <div class="project-card">
                <h2>Fake News Detection</h2>
                <p>Used Open source Kaggle Dataset, Project aims to detect whether the
                    news provided to the model is True or Fake. Used tfidf , Logistic
                    Regression ,Decision tree, Random Forest , XGBoost Models.
                    </p>
            </div>
            </a>
            <a href="https://github.com/SieGe0701/VTune" class="project-card-link" target="_blank">
            <div class="project-card">
                <h2>VTune</h2>
                <p> Built a Flask web application that recognizes hummed tunes using ACRCloud's API for audio recognition. 
                    This project allows users to hum a tune, and the system identifies the matching song.</p>
            </div>
            </a>
            <a href="https://github.com/SieGe0701/Discord-Bot" class="project-card-link" target="_blank">
            <div class="project-card">
                <h2>Gemini Bot</h2>
                <p> It is a Discord Bot that uses Gemini's api to answer all the questions users have.</p>
            </div>
            </a>
        </div>
    </main>
</body>
</html>