<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - Skills</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <button class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <nav>
        <script src="static/js/Side_nav.js"></script>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="about_me">About</a>
            <a href="/projects">Projects</a>
            <a href="/Work_Experience">Work Experience</a>
            <a href="/contact">Contact</a>
            <a href="/blog">Blog</a>
        </div>
    </nav>
    <div class="nav-overlay"></div>

    <main class="container">
        <h1>My Experiences</h1>
        <div class="grid">
            <div class="skill-item">
                <h2>Amadeus</h2>
                <p> 
                    Role: : DevOps Intern <br><br>
                    Duration: 16/01/2025 - 30/06/2025 <br> <br>
                    Tasks: Automated 4+ repeatable infrastructure tasks using Jenkins, Terraform, and GitOps, reducing manual effort by ~90% and saving 2–3 weeks per task.<br><br>
                    Work Location: Bengaluru
                </p>
            </div>
            <div class="skill-item">
                <h2>Kenvue</h2>
                <p style="font-weight: bold; font-size: 20px;">Summer Intern</p>
                <p>
                    Role: : Data Science Intern <br><br>
                    Duration:25/05/2024 - 26/07/2024 <br> <br>
                    Tasks: Demand Forecasting For US and Canada Markets.<br> <br>
                    Work Location: Bengaluru
                </p>
            </div>
            <div class="skill-item">
                <h2>Philips</h2>
                <p style="font-weight: bold; font-size: 20px;">Data Analyst intern, Technical assistant
                    IntelliSpace perinatal
                </p>
                <p>
                    Role: Data Analyst Intern, Technical assistant of research
                    application called Intellispace Perinatal. <br><br>
                    Duration: 06/2023 - 07/2023(8 weeks) <br> <br>
                    Tasks: Project involved Binary Classification, Along with >
                    generating EDA reports of datasets. <br> <br>
                    Work Location: Manipal
                </p>
            </div>
        </div>
    </main>
</body>
</html>